/* Global center */
.idol-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

/* Style card */
figure {
  margin: 0;
  color: var(--text-color-light);
  background-color: rgb(160, 160, 160);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 8px;
  height: 400px;
  width: 275px;
  opacity: 1;
  transition: opacity 500ms ease-out, transform 250ms ease-out;
  position: relative;
  animation: fadeIn 1s forwards;
}

/* Animation fadein card */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Style picture */
figure > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Hover card */
figure:hover {
  cursor: pointer;
  transform: scale(1.02);
}

/* Style description */
figure > figcaption {
  padding: 16px 0;
  font-size: 1.5rem;
  text-align: center;
  color: var(--text-color-dark);
}

/* Fade effect */
figure.fade {
  opacity: 0.5;
  transition: opacity 300ms ease-in-out;
}

/* Button more... */
.view-description-button {
  padding: 10px 20px;
  background-color: var(--secondary-bg-color);
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, opacity 1s
    ease-in-out;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: buttonFadeIn 1s forwards 1s;
}

/* Fadein for more... */
@keyframes buttonFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.view-description-button:hover {
  background-color: var(--accent-color);
  transform: scale(1.05) translateX(-50%);
}

/* Overlay  */
.description-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--overlay-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  z-index: 100;
  transition: opacity 300ms ease, visibility 300ms ease;
  font-family: "Montserrat", sans-serif;
}

.description-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Description */
.description-content {
  background-color: var(--primary-bg-color);
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 80%;
  text-align: center;
  animation: fadeIn 0.5s ease-out;
  font-family: "Montserrat", sans-serif;
}

/* Animation fadein */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Button close */
.close-button {
  padding: 8px 16px;
  background-color: var(--button-bg-color);
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.close-button:hover {
  background-color: var(--button-hover-bg-color);
  transform: scale(1.05);
}
